/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* table full width. */
.fullwidth {
  width: 100%;
}

/* height full */
.map {
  height: 550px;
}

/* Height arrange */
.gridheight {
  height: 150px
}

/* Section1(title) */
#hmasthead {
  font-family: "微軟正黑體";
  text-align: center;
}

#text {
  font-family: "微軟正黑體";
  text-align: center;
}
