/* background */
.demo-layout-transparent {
  background: url('./assets/background.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* table full width. */
.fullwidth {
  width: 100%;
}

/* height full */
.map {
  height: calc(100vh - 240px);
}

.title {
  font-family: "微軟正黑體";
  text-align: center;
}

/* H1 color */
h1 {
    color: white;
    font-family: "微軟正黑體";
}

/* view height 100% */
.module {
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  max-width: 100%;
}

/* view height 100% with header */
.module_head {
  height: calc(100vh - 70px); /* Use vh as a fallback for browsers that do not support Custom Properties */
  margin: 0 auto;
  max-width: 100%;
}

/* element view height 25% */
.module25 {
  align-items: center;
  display: flex;
  height: 25%;
  justify-content: center;
}

.section2 {
  background-color: #FFFFFF !important
}
